html{
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Home Section Styles */
.sections {
    scroll-behavior: smooth;
    margin-top: 30px;
    color: black; /* Text color on top of the background image */
    padding: 100px 0; /* Adjust padding as needed */
    text-align: right;
    height: 80vh;
}

#home{
    background-image: url('ketchup.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

#home-text h1 {
    color: red; /* Set heading color to red */
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust font size as needed */
}

#home-text p {
    margin: 5px 0 0; /* Adjust spacing for the paragraph */
    font-size: 16px; /* Adjust font size as needed */
}

/* Flexbox Section Styles */
#flexbox-section {
    height: auto;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Center items horizontally */
}

.image-container {
    width: 400px; /* Set width of image container */
    margin: 10px; /* Adjust margin as needed */
}

.image-container img {
    width: 100%; /* Scale image to fill container */
    height: auto;
}

.gallery-buttons {
    margin-top: 20px;
}

.gallery-button {
    margin: 0 10px;
}

/* Our Team Section Styles */
#our-team {
    height:50vh;
    background-color: #FFB4B4;
    padding: 50px 0;
    text-align: center;
    color: white;
}

.team-member {
    display: inline-block;
    margin: 20px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.team-member p {
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    #home {
        background-size: contain;
        background-position: top;
        text-align: center;
        height: fit-content;
    }
    #our-team{
        height: fit-content;
    }
}
try this for website.css