body {
  background-color: #e74c3c; /* Darker background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern sans-serif font */
  color: black; /* Light text color */
}

#container {
  background-color: #ff7c7c; /* Light red background */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Slightly more pronounced box-shadow effect */
}

#timeline {
  margin-bottom: 0;
  background-color: #ffb9b9; /* Lighter red background for contrast */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#image-library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid with minimum width of 200px */
  grid-auto-rows: minmax(150px, auto); /* Minimum row height of 200px, auto-adjusting height */
  grid-gap: 2px; /* Gap between grid items */
}

.image {
  width: 100%; /* Ensure images take full width of their grid cell */
  height: 100%; /* Ensure images take full height of their grid cell */
  object-fit: cover; /* Preserve aspect ratio and cover the container */
  flex: 0 0 48%;
  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
  border: 10px solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease;
  border-radius: 20px;
}

.image:hover {
  transform: scale(1.05); /* Slightly increased scaling on hover */
}

.image.selected {
  border-color: #e74c3c; /* Darker red border for selected images */
}

.audio.selected {
  border-color: #e74c3c; /* Darker red border for selected images */
}

.timeline-image,
.timeline-audio {
  width: 100px; /* Set width to 100px */
  height: fit-content; /* Set height to 100px */
  margin-right: 0px; /* Add margin if needed */
  cursor: move; /* Add cursor style if needed */
  position: relative; /* Ensure proper positioning for overlay */
  flex-shrink: 0; /* Prevent elements from shrinking */
  padding: 10px; /* Add padding for better visualization */
}

#timeline-images,
#timeline-audios {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.timeline-image img {
  width: 100%; /* Set width to 100% to fit container */
  height: 100%; /* Set height to 100% to fit container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 10px; /* Add border-radius if needed */
}

.timeline-image::after {
  content: ''; /* Add empty content for overlay */
  position: absolute; /* Set overlay position */
  top: 0; /* Align overlay to top */
  left: 0; /* Align overlay to left */
  width: 100%; /* Set width to 100% */
  height: 100%; /* Set height to 100% */
  border: 2px solid #e74c3c; /* Add border style */
  border-radius: 10px; /* Add border-radius */
  box-sizing: border-box; /* Ensure border is included in dimensions */
}

.animation-dropdown,
.duration-dropdown {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  background-color: #fff;
  color: #e74c3c; /* Darker text color for better readability */
}

/* Change font color for dropdown menus to black */
select.form-select {
  color: #333;
}

/* Add transition for smoother effects */
.transition {
  transition: all 0.3s ease;
}


.gallery-buttons {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.gallery-button {
  padding: 10px 0; /* Adjust padding */
  width: 47%; /* Set width to 40% of the container */
  background-color: #f36161; /* Light red background */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.gallery-button:hover {
  background-color: #e74c3c; /* Darker red background on hover */
}

.create-video-button {
  padding: 10px; /* Adjust padding */
  width: fit-content; /* Set width to 40% of the container */
  background-color: #f36161; /* Light red background */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.create-video-button
:hover {
  background-color: #e74c3c; /* Darker red background on hover */
}

.header-container{
  display: flex;
  align-items: center;
}

#video-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%; /* Adjust the width of the container as needed */
  height: 65%; /* Adjust the height of the container as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 40px;
}

#video-container video {
  width: auto;
  height: 80%; /* Adjust this value as needed */
  object-fit: contain;
}

#audio-list-container {
  padding: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: #f36161;
  border: 2px solid #e74c3c;
}

/* Styling for the audio player */
audio {
  width: 100%; /* Set the width to fill its container */
  margin-top: 5px;
}

/* Styling for the audio player controls */
audio::-webkit-media-controls {
  background-color: #f5f5f5; /* Change the background color */
  color: #333; /* Change the color of control icons */
  border-radius: 5px; /* Add rounded corners */
  padding: 10px; /* Add padding */
}

/* Styling for the audio player progress bar */
audio::-webkit-media-controls-timeline {
  margin: 4px;
  height: 4px; /* Set the height of the progress bar */
  background-color: #ccc; /* Change the background color of the progress bar */
  border-radius: 10px;
}

.overflow-x-auto {
  overflow-x: auto; /* Enable horizontal overflow */
}

/* Hide scrollbar for WebKit browsers */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

/* Offset the scrollbar */
.overflow-x-auto::-webkit-scrollbar-track {
  margin-bottom: -20px; /* Adjust as needed */
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dropdown-item {
  flex-basis: calc(33.33% - 10px); /* Adjust as needed */
}

.heading {
  color: white;
  padding: 10px; /* Adjust as needed */
  z-index: 1; /* Ensure it appears above other content */
  font: bold;
  cursor: pointer;
}
.heading-container{
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure it appears above other content */
  background-color: #f36161; /* Adjust as needed */
  border: 2px solid #e74c3c;
}

#audio-list-container {
  padding: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: #f36161;
  border: 2px solid #e74c3c;
}

/* Define styles for the audio player */
audio {
  width: 100%; /* Set the width to fill its container */
  margin-top: 5px;
}

/* Define styles for the audio player controls */
audio::-webkit-media-controls {
  background-color: #f5f5f5; /* Change the background color */
  color: #333; /* Change the color of control icons */
  border-radius: 5px; /* Add rounded corners */
  padding: 10px; /* Add padding */
}

/* Define styles for the audio player progress bar */
audio::-webkit-media-controls-timeline {
  margin: 4px;
  height: 4px; /* Set the height of the progress bar */
  background-color: #ccc; /* Change the background color of the progress bar */
  border-radius: 10px;
}