body {
    font-family: sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #636363;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #4CAF50;
}

.switch {
    margin-top: 10px;
    text-align: center;
}

.switch a {
    text-decoration: underline;
    color: #4CAF50;
    cursor: pointer;
}

ul {
    text-align: left;
    font-size: 12px;
    list-style-position: outside;
    padding-left: 20px;
}

.invalid-username {
    color: #ed4337;
}