<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
    <div class="container">
        <h1>User Details</h1>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>User Email</th>
                    <th>Password (hashed)</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_details %}
                <tr>
                    <td>{{ user.UserId }}</td>
                    <td>{{ user.UserName }}</td>
                    <td>{{ user.UserEmail }}</td>
                    <td>{{ user.UserPassword }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>