<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="container">
        <ul>
            {% for item in data %}
                <li>{{item.username}}</li>
            {% endfor %}
        </ul>
        <div class='switch'>
            <p><a href='/register' id='switchForm'>Register</a></p>
            <p><a href="/login" id='switchForm'>Login</a></p>
        </div>
    </div>
</body>
</html>

