<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>
<body>
    <div class="container">
        <h1>User Details</h1>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>User Email</th>
                    <th>Password (hashed)</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_details %}
                <tr>
                    <td>{{ user[0] }}</td>  <!-- Accessing first element in the tuple -->
                    <td>{{ user[1] }}</td>  <!-- Accessing second element in the tuple -->
                    <td>{{ user[2] }}</td>  <!-- Accessing third element in the tuple -->
                    <td>{{ user[3] }}</td>  <!-- Accessing fourth element in the tuple -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>