<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KetchUP</title>
    <link rel="stylesheet" href="../static/css/delete_images.css">
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>
<body>
    <h1>Delete Images</h1>
    <form method="post">
        {% for image in images %}
            <div class="image-container">
                <div class="checkbox-wrapper-47">
                    <img src="data:image/jpeg;base64,{{ image.ImageData }}" alt="Image">
                    <input type="checkbox" name="delete" id="cb-{{ image.ImageId }}" value="{{ image.ImageId }}"/>
                    <label for="cb-{{ image.ImageId }}">Select</label>
                </div>
            </div>
        {% endfor %}
        <div class="gallery-buttons">
            <button type="submit" class="gallery-button">Delete Selected Images</button>
        </div>
    </form>
    <div class="gallery-buttons">
        <button class="gallery-button"><a href="/website">Go Back</a></button>
    </div>
</body>
</html>
