<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>KetchUP</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/landing_page.css">
    <link rel="stylesheet" href="../static/css/navbar_up.css">
</head>
<body>
    <ul class="topnav">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#feature-container" onclick="scrollToFeature()">Features</a></li>
        <li><a href="#our-team">Our Team</a></li>
        <li class="right"><a href="/register">Login / Sign Up</a></li>
    </ul>
    <div id="home" class="sections">
        <div class="home-text">
        </div>
    </div>
    <div class="feature-container" id="feature-container">
        <div id="main-features">
            <h1 class="text-red-500" style="font-size: 46px;">Main Features</h1>
        </div>
        <div id="columns">
            <div class="feature-section">
                <div class="image-container">
                    <img src="../static/images/image1.jpeg" alt="Image 1">
                </div>
                <p class="text-red-500" style="font-size: 24px;">Personalised Experience</p>
            </div>
            <div class="feature-section">
                <div class="image-container">
                    <img src="../static/images/image2.jpeg" alt="Image 2">
                </div>
                <p class="text-red-500" style="font-size: 24px;">Quick and Easy to Use</p>
            </div>
            <div class="feature-section">
                <div class="image-container">
                    <img src="../static/images/image3.jpeg" alt="Image 3">
                </div>
                <p class="text-red-500" style="font-size: 24px;">Protected and Secured</p>
            </div>
        </div>
    </div>
    <div id="our-team" class="sections">
        <h2 style="font-size: 46px;">We are the ketchUPs</h2>
        <div class="team-member">
            <img src="../static/images/profile-photo copy.jpeg" alt="Team Member 1">
            <p>Arihant Rastogi</p>
        </div>
        <div class="team-member">
            <img src="../static/images/profile_photo_2.jpg" alt="Team Member 2">
            <p>Karthik Malavathula</p>
        </div>
        <div class="team-member">
            <img src="../static/images/profile_photo_3.jpg" alt="Team Member 3">
            <p>Prasoon Dev</p>
        </div>
    </div>
    <button onclick="topFunction()" id="topBtn" title="Go to top">^</button>
    <script src="../static/javascript/landing_page.js"></script>
</body>
</html>