<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KetchUP</title>
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>
<body>
    <div class="container">
        <form id='registerForm' action="/register" method="POST">
            <h2>Register</h2>
            <input type='text' placeholder='Username' id='register-username' name='register-username' required>
            <input type='text' placeholder='Useremail' id='register-useremail' name='register-useremail' required>
            <input type='password' placeholder='Password' id='register-password' name='register-password' required>
            <div class="msg">{{ msg }}</div>
            <button type='submit'>Register</button>
        </form>
        <div class='switch'>
            <p><a href='/admin' id='adminForm'>Admin Login</a></p>
            <p> Already have an account? <a href="/login" id='switchForm'>Login</a></p>
        </div>
    </div>
</body>
</html>