<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sign Up</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="container">
        <form id='registerForm' action="/register" method="POST">
            <h2>Register</h2>
            <input type='text' placeholder='Username' id='register-username' name='register-username' required>
            <input type='password' placeholder='Password' id='register-password' name='register-password' required>
            <button type='submit'>Register</button>
        </form>
        <div class='switch'>
            <p><a href='/admin' id='adminForm'>Admin Login</a></p>
            <p> Already have an account? <a href="/login" id='switchForm'>Login</a></p>
        </div>
    </div>
</body>
</html>
