<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KetchUP</title>
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/videomaker.css">
</head>
<body class="bg-gray-900 text-white" style="background-color: #fff">
  <div id="container" class="fixed w-1/4 h-3/4 top-0 left-0 overflow-y-auto bg-gray-800 p-6">
    <h2 class="text-2xl font-bold mb-4">Image Library</h2>
    <div class="gallery-header">
      <div class="gallery-buttons">
          <button class="gallery-button"><a href="/website">Go Back</a></button>
          <button class="gallery-button"><a href="/create-video">Create Video</a></button>
      </div>
    </div>
    <div class="dropdown-container">
      <div class="dropdown-item mb-4">
          <label for="duration-select" class="block text-sm font-medium text-white-400 mb-1">Duration:</label>
          <select id="duration-select" class="form-select duration-dropdown">
              <option value="5">5 seconds</option>
              <option value="10">10 seconds</option>
              <option value="15">15 seconds</option>
          </select>
      </div>
      <div class="dropdown-item mb-4">
          <label for="audio-select" class="block text-sm font-medium text-white-400 mb-1">Audio:</label>
          <select id="audio-select" class="form-select duration-dropdown">
              {% for audio in audio_files %}
                  <option value="{{ audio[0] }}">{{ audio[0] }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="dropdown-item mb-4">
          <label for="transition-select" class="block text-sm font-medium text-white-400 mb-1">Transition:</label>
          <select id="transition-select" class="form-select animation-dropdown">
              <option value="fadein">Fade-In</option>
              <option value="fadeout">Fade-Out</option>
              <option value="crossfade">Cross-Fade</option>
          </select>
      </div>
      <div class="dropdown-item mb-4">
        <label for="resolution-select" class="block text-sm font-medium text-white-400 mb-1">Resolution:</label>
        <select id="resolution-select" class="form-select animation-dropdown">
            <option value="2160">2160p</option>
            <option value="1440">1440p</option>
            <option value="720">720p</option>
            <option value="480">480p</option>
            <option value="360">360p</option>
            <option value="240">240p</option>
            <option value="144">144p</option>
        </select>
    </div>
    </div>
    <div id="audio-list-container">
      <div class="heading-container">
        <h1 class="heading" onclick=toggleAudioList()>List of Audio Files</h1>
      </div>
      <ul id="audio-list" style="display: none;"><br>
        {% if audio_files %}
          {% for audio in audio_files %}
            <li>
              <label for="audio{{ loop.index }}">{{ audio[0] }}</label>
              <audio id="audio{{ loop.index }}" controls>
                <source src="data:audio/mpeg;base64,{{ audio[1] }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </li><br> 
          {% endfor %}
        {% else %}
          <p class="text-gray-400">No audio available.</p>
        {% endif %}
      </ul>
    </div>
    
    <div id="image-library" class="flex flex-col items-start">
      {% if images %}
        {% for encoded_image in images %}
          <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image" class="image mb-2 rounded">
        {% endfor %}
      {% else %}
        <p class="text-gray-400">No images available.</p>
      {% endif %}
    </div>
  </div>

  <div id="timeline" class="fixed w-full h-1/4 bottom-0 right-0 bg-gray-800 p-6 overflow-y-auto">
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold mb-4">Timeline</h2>
        <div  id="header-container" class="header-container">
        </div>
        <div>
          <button id="create-video-button" class="create-video-button">Update Data</button>
          <button id="clear-selection" class="create-video-button">Clear Selection</button>
        </div>
    </div>
    <div class="overflow-x-auto">
      <div id="timeline-images" class="flex flex-nowrap gap-0">
          <!-- Timeline images will be dynamically added here -->
      </div>
    </div>
    <div class="overflow-x-auto">
      <div id="timeline-audios" class="flex flex-nowrap gap-0">
          <!-- Timeline images will be dynamically added here -->
      </div>
    </div>
  </div>
  <div id="video-container">
    <video controls>
      <source src="../static/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <script src="../static/javascript/videomaker.js"></script>
</body>
</html>