<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create a Video</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/videomaker.css">
</head>
<body>

<div class="container">
    <h1>Create a Video</h1>
    <h2>Image Gallery</h2>
    <div class="gallery-images">
        {% if images %}
            {% for encoded_image in images %}
            <div class="image-container">
                <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image">
            </div>
            {% endfor %}
        {% else %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
  <div class="audio-list">
    <h2>Add Background Music</h2>
    <ul>
      <li><a href="audio1.mp3">Audio 1</a></li>
      <li><a href="audio2.mp3">Audio 2</a></li>
      <li><a href="audio3.mp3">Audio 3</a></li>
    </ul>
  </div>
  
  <div class="transition-buttons">
    <h2>Add Transitions</h2>
    <button>Fade</button>
    <button>Slide</button>
    <button>Zoom</button>
  </div>
  
  <div class="video-player">
    <h2>Preview video</h2>
    <video controls>
      <source src="test.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  
  <div class="resolution-select">
    <h2>Select Resolution</h2>
    <select>
      <option value="480p">480p</option>
      <option value="720p">720p</option>
      <option value="1080p">1080p</option>
    </select>
  </div>
  
  <button class="create-video-button">Create Video</button>
  <button class="create-video-button"><a href='/website'>Go Back</a></button>
</div>

</body>
</html>