<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Online Video Editing Site</title>
    <link rel="stylesheet" href="../static/website.css">
    <link rel="stylesheet" href="../static/navbar_up.css">
</head>
<body>
    <ul class="topnav">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#slideshow">Features</a></li>
        <li><a href="#our-team">Our Team</a></li>
        <li class="right"><a href="/logout">Logout</a></li>
    </ul>

    <!-- Home Section -->
    <div id="home" class="sections">
        <div class="home-text">
        </div>
    </div>

    <!-- Slideshow Section -->
    <!-- Slideshow Section -->
    <div id="flexbox-section" class="sections">
        <div class="flexbox-item">
            <div class="flexbox-content">
                <img src="../static/1.png" alt="Image 1">
                <div class="flexbox-text">
                    <h3>User-Friendly Interface</h3>
                    <p>Basic and easy to understand UI</p>
                </div>
            </div>
        </div>
        <div class="flexbox-item">
            <div class="flexbox-content">
                <div class="flexbox-text">
                    <h3>Multiple Options and Preview</h3>
                    <p>Edit resolution, length, animations and much more</p>
                </div>
                <img src="../static/2.png" alt="Image 2">
            </div>
        </div>
        <div class="flexbox-item">
            <div class="flexbox-content">
                <img src="../static/download.png" alt="Image 3">
                <div class="flexbox-text">
                    <h3>Slideshows</h3>
                    <p>Slideshows are a button away.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Our Team Section -->
    <div id="our-team" class="sections">
        <h2>We are the ketchUPs</h2>
        <div class="team-member">
            <img src="../static/profile-photo copy.jpeg" alt="Team Member 1">
            <p>Arihant Rastogi</p>
        </div>
        <div class="team-member">
            <img src="../static/profile_photo_2.jpg" alt="Team Member 2">
            <p>Karthik Malavathula</p>
        </div>
        <div class="team-member">
            <img src="../static/profile_photo_3.jpg" alt="Team Member 3">
            <p>Prasoon Dev</p>
        </div>
    </div>
    <button onclick="topFunction()" id="topBtn" title="Go to top">^</button>
    <script>
         document.addEventListener("DOMContentLoaded", function () {
        const navLinks = document.querySelectorAll('ul.topnav li a');
        navLinks.forEach(function (navLink) {
            navLink.addEventListener('click', function (event) {
                navLinks.forEach(function (link) {
                    link.classList.remove('active');
                });
                this.classList.add('active');
            });
        });
    });let mybutton = document.getElementById("topBtn");
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>
</body>
</html>