<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Online Video Editing Site</title>
    <link rel="stylesheet" href="../static/css/website.css">
    <link rel="stylesheet" href="../static/css/navbar_up.css">
</head>
<body>
    <ul class="topnav">
        <li><a class="active" href="#home">Home</a></li>
        <!-- <li><a href="#flexbox-section">Features</a></li> -->
        <li><a href="#flexbox-section">Image Gallery</a></li>
        <li><a href="#our-team">Our Team</a></li>
        <li class="right"><a href="/logout">Logout</a></li>
    </ul>

    <!-- Home Section -->
    <div id="home" class="sections">
        <div class="home-text">
        </div>
    </div>

    <!-- Image Gallery Section -->
    <div id="flexbox-section" class="sections">
        <div class="gallery-header">
            <h1 class="gallery-title">Image Gallery</h1>
            <div class="gallery-buttons">
                <button class="gallery-button"><a href="/upload">Upload Images</a></button>
                <button class="gallery-button"><a href="/videomaker">Create a Video</a></button>
                <button class="gallery-button"><a href="/delete_images">Delete Images</a></button>
            </div>
        </div>
        
        <!-- Div for uploading images -->
        <div class="upload-image-section">
            <!-- Display uploaded images here -->
            <div class="gallery-images">
                {% if images %}
                    {% for image in images %}
                    <div class="image-container">
                        <img src="data:image/jpeg;base64,{{ image }}" alt="Image">
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- Our Team Section -->
    <div id="our-team" class="sections">
        <h2>We are the ketchUPs</h2>
        <div class="team-member">
            <img src="../static/images/profile-photo copy.jpeg" alt="Team Member 1">
            <p>Arihant Rastogi</p>
        </div>
        <div class="team-member">
            <img src="../static/images/profile_photo_2.jpg" alt="Team Member 2">
            <p>Karthik Malavathula</p>
        </div>
        <div class="team-member">
            <img src="../static/images/profile_photo_3.jpg" alt="Team Member 3">
            <p>Prasoon Dev</p>
        </div>
    </div>
    <button onclick="topFunction()" id="topBtn" title="Go to top">^</button>
    <script src="../static/javascript/website.js"></script>
</body>
</html>